<div class="py-5">
    <h2>Iniciar Sesión</h2>
    <hr class="w-50" />

    <form id="login-form">
        <div class="form-group">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control w-50 m-auto" name="email" required/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control w-50 m-auto" name="password" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-success mb-3">Ingresar</button>
        <p>¿Aún no tienes cuenta? <a href="registro">Regístrate</a></p>
    </form>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        
        if(urlParams.get('account')) {
            Swal.fire({
                title: '¡Cuenta creada!',
                text: 'Ya puedes iniciar sesión.',
                icon: 'success'
            }).then(result => window.location.replace('/login'));
        }

        const form = document.querySelector('#login-form');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(form);
            const data = Object.fromEntries(formData);

            fetch('/api/users/login', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify(data)
            })
            .then(response => {
                if(response.status !== 200) throw new Error(response.status);
                return response.json();
            })
            .then(data => {
                // guardar token en local storage
                document.cookie = `Authorization=Bearer ${data.token}`;

                // redireccionar a login
                window.location.replace('/datos');
            })
            .catch(() => {
                Swal.fire('Error', 'Credenciales no validas', 'error');
            });
        });
    });
</script>